<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">

    <button
      class="btn btn-dark me-3"
      type="button"
      (click)="toggleSidebar()">
      <span class="fs-3">☰</span>
    </button>

    <a href="#" class="navbar-brand fw-bold">
      QueueSense
    </a>

    <input
      class="form-control w-50 ms-3"
      placeholder="Queue details......"
    >

    <ul class="navbar-nav ms-auto">
      <li class="nav-item me-4 fw-bold">
        <a href="#" class="nav-link">Menu</a>
      </li>

      <li class="nav-item me-4 fw-bold">
        <a href="#" class="nav-link">Queue</a>
      </li>

      <li class="nav-item me-4 fw-bold">
        <a href="#" class="nav-link">List</a>
      </li>
    </ul>

    <button class="btn btn-primary">
      Login/signup
    </button>

  </div>
</nav>