<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container">
        <a href="#" class=" navbar-brand fw-bold">
            QueueSense
        </a>
        <input class="text  rounded-3 w-50 p-2 ms-3 " placeholder="Queue details......">
    <ul class="text-white navbar-nav ms-auto">
        <li class="nav-item me-5 fw-bold">
            <a href="#" class="nav-link">Menu</a>
        </li>
        <li class="nav-item me-5 fw-bold">
            <a href="#" class="nav-link">Queue</a>
        </li>
        <li class="nav-item me-5 fw-bold">
            <a href="#" class="nav-link">List</a>
        </li>
        
    </ul>
    <button class="btn btn-primary">Login/signup</button>
    </div>
</nav>
