<div class="sidebar bg-dark text-white p-4">

    <div class="d-flex justify-content-between align-items-center mb-4">

        <h3 class="fw-bold">QueueSense</h3>

        <button
            class="btn btn-close btn-close-white"
            (click)="closeSidebar()">
        </button>

    </div>

    <ul class="nav flex-column gap-3">
        <li class="nav-item">
    <a
      routerLink="/dashboard"
      routerLinkActive="active-link"
      class="nav-link"
      (click)="closeSidebar()">

      Dashboard
    </a>
  </li>

  <li class="nav-item">
    <a
      routerLink="/hospital"
      routerLinkActive="active-link"
      class="nav-link"
      (click)="closeSidebar()">

      Hospitals
    </a>
  </li>

        <li class="nav-item">
            <a href="#" class="nav-link text-white">Cinema</a>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link text-white">Banks</a>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link text-white">Restaurants</a>
        </li>
    </ul>

</div>